<!DOCTYPE html>
<html>
    <head>
        <meta-charset="utf-8">
    <title>
        LOGIN
    </title>

    </head>
    
    <body>
<form action="/user_info/login" method="post">
<label for="id">ID</label>
<input id="id" name="id" type="text" placeholder="아이디를 입력하세요">

<p><label for="passwd">PW</label>
<input id="pw" name="passwd" type="password" placeholder="비번입력"></p>
<p><button type="submit">로그인</button></p>
</form>

    </body>
</html>